body {
    background-color: #fff;
    min-width: 320px;
    line-height: 1.8;
}

footer {
    background-color: lightgray;
    margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600;
    color: #000;

}

a {
    text-decoration: none;
}

dl, ol, ul {
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1480px;
}

.bread {
    font-size: 60px;
    color: #fff;
    line-height: 1.2;
    font-weight: 800;
}

.btn.btn-secondary {
    background: #fda638;
    border: 1px solid #fda638;
    color: #fff;
    border-radius: 40px;
}


